<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300507568093-m29jat1484c1slbf4b3mcar73bbo9aor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300507568093-m29jat1484c1slbf4b3mcar73bbo9aor</string>
	<key>API_KEY</key>
	<string>AIzaSyAwa-RbGTjE1qfPufwhg1v4unisxSZPTUw</string>
	<key>GCM_SENDER_ID</key>
	<string>300507568093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterReddit</string>
	<key>PROJECT_ID</key>
	<string>flutter-reddit-fb542</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-reddit-fb542.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300507568093:ios:a5ecec743f27f133178834</string>
</dict>
</plist>